#root{
	margin:0;
	padding:0;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap:wrap;
	height:90vh;
}
.task{
	margin-left:15px;
	width:290px;
	padding:10px;
	margin-bottom:20px;
	border:2px solid red;
	text-align: center;
}
.task_text{
	word-wrap:break-word;
	margin:15px 0;
	padding:0 10px;
	font-family: Arial;
	font-size:24px;
	font-weight: bold;
	width:280px;
	display:inline-block;
}
button{
	color:white;
	padding:10px;
	font-size:16px;
	margin-left:10px;
	cursor: pointer;
}
.btn{
	text-align: center;
	position: relative;
	left:-10px;
}
.btn_add{
	margin-top:30px;
	position:absolute;
	top:87vh;
	left:42vw;
	width:324px;
	text-align: center;
	background-color: green;
}
.btn_edit{
	background-color: blue;
}
.btn_delete{
	background-color: red;
}
.btn_save{
	background-color: yellow;
	color:red;
}
#textarea{
	width:290px;
	height:68px;
}