.win {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px auto;
  color: #721100; }

.player {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px auto;
  margin-top: 50px; }

.app {
  text-align: center; }

table {
  font-size: 60px;
  margin: 0 auto;
  border: 2px solid black; }

td {
  width: 44px;
  height: 69px;
  cursor: pointer;
  padding: 0px 20px;
  border: 1px solid black; }

.b {
  text-align: center;
  display: inline-block;
  margin: 0 auto; }

button {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  font-size: 30px;
  color: white;
  padding: 10px;
  background-color: blue; }

button:nth-child(2) {
  opacity: 0.5; }
